.heder {
    background-color: #842f4b;
    text-align: center;
    color: white;
    overflow: hidden;
}

.heder_elem{
    float: right;
    padding: 10px;
    font-size: 20px; 
    line-height: 25px;
}

body {
    background-color: #f1f1f1;
}

.heder_elem a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 20px 16px;
}

.heder_elem a:hover{
    background-color: #84504b;
    color:white;
}

.container {
  position: relative;
  width: 50%;
}

.image{
  opacity: 1;
  display: block;
  width: 200px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.middle_box{
    position: absolute;
    top: 200px;
    left:400px;
    background-color:#d3c4b8;
}

.middle_box h3, h1{
    color: #842f4b;
}

.middle_box td{
    width: 210px;
}

.dropbtn {
  background-color: #842f4b;
  color: white;
  text-decoration: none;
  padding: 20px 16px;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #842f4b;
  color:white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .dropbtn {background-color: #842f4b;} 

.middle_form{
    position: absolute;
    top: 200px;
    left:400px;
    width: 600px;
    background-color:white;
}


* {
    box-sizing: border-box;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

button {
    background-color: #842f4b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

.submit{
    background-color: #842f4b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

.x_button{
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #4CAF50;
}

#mojA {
  background-color: #842f4b;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}